body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f0f0f0' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: sans-serif;
    text-transform: lowercase;
    transition: background-color 0.3s ease, color 0.3s ease, background-image 0.3s ease;
}

.title {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
}

.nav {
    position: fixed;
    top: 80px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.nav a {
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #999;
}

.content {
    margin-left: 150px;
    padding-top: 80px;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .title {
        position: static;
        margin-bottom: 20px;
    }

    .nav {
        position: static;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .nav a {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .content {
        margin-left: 0;
        padding-top: 0;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    grid-column: span 2;
    transition: transform 0.3s ease;
}

.gallery img:nth-child(5n-1) {
    grid-column: 2 / span 2;
}

.gallery img:hover {
    transform: scale(1.1);
    z-index: 1;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23333333' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body.dark-mode .nav a {
    color: #ffffff;
}

body.dark-mode .nav a:hover {
    color: #999999;
}

.disclaimer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #000;
    z-index: 2;
}

body.dark-mode .disclaimer {
    color: #fff;
}

.vr-controls {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.vr-controls button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
}

body.dark-mode .vr-controls button {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}




